:root {
  /* Colour Palette */

  --black: #000000;
  --white: #ffffff;
  --dark_blue: #023246;
  --medium_blue: #287094;
  --beige: #d4d4ce;
  --light_grey: #f6f6f6;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
